h1 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 140px;
    font-size: 60px;
    margin: -15px;
}

p {
    font-family: sans-serif;
    color: #074009;
    text-align: center;
}
