# OS
#------------------------
.DS_Store
*~


# Node
#------------------------
node_modules
package-lock.json
require.js


# JQuery
#------------------------
jquery*.js


# File types
#------------------------
*.csv
*.gz
*.jpg
*.pem
*.txt

