@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");

body {
    margin: 0;
    padding-top: 150px;
    color: #565a62;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
}

#nav {
    height: 110px;
    width: 100%;
    padding: 20px 0 5px 0;
    border-bottom: solid 8px #1431ee;
    box-shadow: 10px 10px 10px #ccc;
    position: absolute;
    top: 0;
}

#nav a {
    text-decoration: none;
}

#title {
    margin: 0;
    color: #565a62;
    font-family: "Baloo Bhaina";
    text-transform: uppercase;
}

.button {
    padding: 0.3vw 3vw;
    background-color: #0f4aed;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.button:hover {
    background-color: #9fb9ff;
    color: #0f4aed;
}

.container {
    padding: 0% 10%;
}

